{% extends 'register/base_password.html' %}
{% load static %}

{% block title %}
    رمز جدید
{% endblock %}

{% block body %}
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h3 class="">بازیابی رمز عبور</h3>
                        
                        <form class="text-left" method="post">
                            {% csrf_token %}
                            <div class="form">
                                <div id="password-field" class="field-wrapper input mb-2">
                                    
                                </div>
                                {% if validlink %}
                                    <div id="password-field" class="field-wrapper input mb-2">
                                        <div class="d-flex justify-content-between">
                                            <label for="password">رمز جدید </label>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                        {{ form.new_password1 }}
                                        {% for e in form.new_password1.errors %}
                                            <p class="text-danger">{{ e }}</p>
                                        {% endfor %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </div>
                                    <div id="password-field" class="field-wrapper input mb-2">
                                        <div class="d-flex justify-content-between">
                                            <label for="password">تایید رمز جدید</label>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    {{ form.new_password2 }}
                                    {% for e in form.new_password2.errors %}
                                            <p class="text-danger">{{ e }}</p>
                                        {% endfor %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                    </div>
                                    <div class="d-sm-flex justify-content-between">
                                        <div class="field-wrapper">
                                            <button type="submit" class="btn btn-secondary" value="">ورود</button>
                                        </div>
                                    </div>
                                {% else %}
                                    <p>لینک منقضی شده است برای ارسال مجدد بر روی لینک زیر کیک کنید</p>
                                    <a href="{% url 'account:' %}"></a>
                                {% endif %}
                            </div>
                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}