{% extends 'register/base_password.html' %}
{% load static %}
بازیابی رمز
{% block title %}
{% endblock %}

{% block body %}
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h3 class="m-5">بازیابی رمز</h3>
                        <p>
رمز عبور شما با موفقیت تغییر یافت برای ورود به حساب کاربری خود روی لینک زیر کلیک کنید
                        </p>
                        <a href="{% url 'account:login' %}">ورود به حساب کاربری</a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
