{% extends 'register/base_password.html' %}
{% load static %}

{% block title %}
    بازیابی رمز
{% endblock %}

{% block body %}

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h3 class="m-5">بازیابی رمز</h3>
                        <p>
                            تقاضای ریست رمز فرستاده شد
دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.

اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.

                        </p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}